In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('train.csv')

In [6]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
df = df[['Neighborhood','YrSold','SalePrice']]
df = df.dropna()
train_raw = df[df.YrSold < 2010]
test_raw = df[df.YrSold >= 2010]
print(train_raw)

     Neighborhood  YrSold  SalePrice
0         CollgCr    2008     208500
1         Veenker    2007     181500
2         CollgCr    2008     223500
3         Crawfor    2006     140000
4         NoRidge    2008     250000
...           ...     ...        ...
1452      Edwards    2006     145000
1453      Mitchel    2006      84500
1454      Somerst    2009     185000
1455      Gilbert    2007     175000
1459      Edwards    2008     147500

[1285 rows x 3 columns]

In [8]:
train_raw.Neighborhood.value_counts()

NAmes      192
CollgCr    137
OldTown     99
Edwards     89
Somerst     78
Gilbert     73
NridgHt     69
NWAmes      66
Sawyer      58
BrkSide     56
Crawfor     48
SawyerW     46
Mitchel     45
NoRidge     34
Timber      33
IDOTRR      31
ClearCr     24
SWISU       22
StoneBr     20
Blmngtn     16
BrDale      15
MeadowV     14
Veenker     11
NPkVill      7
Blueste      2
Name: Neighborhood, dtype: int64

# OneHotEncoder

<font color='red'>Assignment:</font> **Neighborhood** is a categorical feature. It has to be transformed before feeding it to a machine learning model. Please transform the column in train_raw to a data frame X_train using **OneHotEncoder**.

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
one_hot_cats = train_raw.Neighborhood.unique()
one_hot_cats = list(one_hot_cats)
enc = OneHotEncoder(categories = [one_hot_cats])

#perform one-hot encoding on 'Neighborhood' column 
#print(train_raw["Neighborhood"].shape)
enc_df = pd.DataFrame(enc.fit_transform(train_raw[['Neighborhood']]).toarray())

col_to_drop=['Neighborhood']
#merge one-hot encoded columns back with original DataFrame
#X_train= train_raw.drop(columns=col_to_drop).join(enc_df)

df1 = train_raw.drop(columns=col_to_drop).reset_index()
df2 = enc_df.reset_index()
X_train = pd.concat([df1, df2], axis=1)


print(train_raw.drop(columns=col_to_drop).shape)
print(enc_df.shape)
print(X_train.shape)
print(enc_df)

#view final df
X_train=X_train.drop(['index','index'],axis=1)
print(X_train)

(1285, 2)
(1285, 25)
(1285, 29)
       0    1    2    3    4    5    6    7    8    9   ...   15   16   17  \
0     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3     0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1280  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
1281  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1282  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1283  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0
1284  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0

       18   19   20   21   22   23   24
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
1280  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1281  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1282  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1283  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1284  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1285 rows x 25 columns]
      YrSold  SalePrice    0    1    2    3    4    5    6    7  ...   15  \
0       2008     208500  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
1       2007     181500  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
2       2008     223500  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
3       2006     140000  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
4       2008     250000  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0
...      ...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1280    2006     145000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0
1281    2006      84500  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0
1282    2009     185000  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0
1283    2007     175000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
1284    2008     147500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0

       16   17   18   19   20   21   22   23   24
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...
1280  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1281  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1282  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1283  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1284  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1285 rows x 27 columns]

<font color='red'>Question:</font> What does OneHotEncoder do? Why do we set handle_unknown='ignore'? What is a sparse matrix (try set sparse=True and repeat to see what a sparse matrix looks like).

### One hot encoding can be defined as the essential process of converting the categorical data variables to be provided to machine and deep learning algorithms which in turn improve predictions as well as classification accuracy of a model. One Hot Encoding is a common way of preprocessing categorical features for machine learning models.

### Sparse Matrix: In numerical analysis and scientific computing, a sparse matrix or sparse array is a matrix in which most of the elements are zero.


### Setting handle_unknown = 'error' or 'ignore' - It can be set to either of these.

### handle_unknown{â€˜errorâ€™, â€˜ignoreâ€™}, default=â€™errorâ€™ - it is set to 'error' by default.
### Whether to raise an error or ignore if an unknown categorical feature is present during transform (default is to raise).

### Rationale behind setting it to 'ignore':

### When this parameter is set to â€˜ignoreâ€™ and an unknown category is encountered during transform, the resulting one-hot encoded columns for this feature will be all zeros. In the inverse transform, an unknown category will be denoted as None.

### Set sparse matrix as False

In [ ]:
enc = OneHotEncoder(handle_unknown='ignore',sparse=False)
enc.fit(df)
OneHotEncoder(handle_unknown='ignore')
enc.categories_

[array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
       'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
       'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
       'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
       'Veenker'], dtype=object), array([2006, 2007, 2008, 2009, 2010]), array([ 34900,  35311,  37900,  39300,  40000,  52000,  52500,  55000,
        55993,  58500,  60000,  61000,  62383,  64500,  66500,  67000,
        68400,  68500,  72500,  73000,  75000,  75500,  76000,  76500,
        78000,  79000,  79500,  79900,  80000,  80500,  81000,  82000,
        82500,  83000,  83500,  84000,  84500,  84900,  85000,  85400,
        85500,  86000,  87000,  87500,  88000,  89000,  89471,  89500,
        90000,  90350,  91000,  91300,  91500,  92000,  92900,  93000,
        93500,  94000,  94500,  94750,  95000,  96500,  97000,  97500,
        98000,  98300,  98600,  99500,  99900, 100000, 101000, 101800,
       102000, 102776, 103000, 103200, 103600, 104000, 104900, 105000,
       105500, 105900, 106000, 106250, 106500, 107000, 107400, 107500,
       107900, 108000, 108480, 108500, 108959, 109000, 109008, 109500,
       109900, 110000, 110500, 111000, 111250, 112000, 112500, 113000,
       114500, 114504, 115000, 116000, 116050, 116500, 116900, 117000,
       117500, 118000, 118400, 118500, 118858, 118964, 119000, 119200,
       119500, 119750, 119900, 120000, 120500, 121000, 121500, 121600,
       122000, 122500, 122900, 123000, 123500, 123600, 124000, 124500,
       124900, 125000, 125500, 126000, 126175, 126500, 127000, 127500,
       128000, 128200, 128500, 128900, 128950, 129000, 129500, 129900,
       130000, 130250, 130500, 131000, 131400, 131500, 132000, 132250,
       132500, 133000, 133500, 133700, 133900, 134000, 134432, 134450,
       134500, 134800, 134900, 135000, 135500, 135750, 135900, 135960,
       136000, 136500, 136900, 136905, 137000, 137450, 137500, 137900,
       138000, 138500, 138800, 138887, 139000, 139400, 139500, 139600,
       139900, 139950, 140000, 140200, 141000, 141500, 142000, 142125,
       142500, 142600, 142953, 143000, 143250, 143500, 143750, 143900,
       144000, 144152, 144500, 144900, 145000, 145250, 145500, 145900,
       146000, 146500, 146800, 147000, 147400, 147500, 148000, 148500,
       148800, 149000, 149300, 149350, 149500, 149700, 149900, 150000,
       150500, 150750, 150900, 151000, 151400, 151500, 152000, 153000,
       153337, 153500, 153575, 153900, 154000, 154300, 154500, 154900,
       155000, 155835, 155900, 156000, 156500, 156932, 157000, 157500,
       157900, 158000, 158500, 158900, 159000, 159434, 159500, 159895,
       159950, 160000, 160200, 161000, 161500, 161750, 162000, 162500,
       162900, 163000, 163500, 163900, 163990, 164000, 164500, 164700,
       164900, 164990, 165000, 165150, 165400, 165500, 165600, 166000,
       167000, 167240, 167500, 167900, 168000, 168500, 169000, 169500,
       169900, 169990, 170000, 171000, 171500, 171750, 171900, 172000,
       172400, 172500, 172785, 173000, 173500, 173733, 173900, 174000,
       174500, 174900, 175000, 175500, 175900, 176000, 176432, 176485,
       176500, 177000, 177500, 178000, 178400, 178740, 178900, 179000,
       179200, 179400, 179500, 179540, 179600, 179665, 179900, 180000,
       180500, 181000, 181134, 181500, 181900, 182000, 182900, 183000,
       183200, 183500, 183900, 184000, 184100, 184750, 184900, 185000,
       185500, 185750, 185850, 185900, 186000, 186500, 186700, 187000,
       187100, 187500, 187750, 188000, 188500, 188700, 189000, 189950,
       190000, 191000, 192000, 192140, 192500, 193000, 193500, 193879,
       194000, 194201, 194500, 194700, 195000, 195400, 196000, 196500,
       197000, 197500, 197900, 198500, 198900, 199900, 200000, 200100,
       200141, 200500, 200624, 201000, 201800, 202500, 202665, 202900,
       203000, 204000, 204750, 204900, 205000, 205950, 206000, 206300,
       206900, 207000, 207500, 208300, 208500, 208900, 209500, 210000,
       211000, 212000, 212900, 213000, 213250, 213490, 213500, 214000,
       214500, 214900, 215000, 215200, 216000, 216500, 216837, 217000,
       217500, 218000, 219210, 219500, 220000, 221000, 221500, 222000,
       222500, 223000, 223500, 224000, 224500, 224900, 225000, 226000,
       226700, 227000, 227680, 227875, 228000, 228500, 228950, 229000,
       229456, 230000, 230500, 231500, 232000, 232600, 233000, 233170,
       233230, 234000, 235000, 235128, 236000, 236500, 237000, 237500,
       238000, 239000, 239500, 239686, 239799, 239900, 240000, 241000,
       241500, 242000, 243000, 244000, 244400, 244600, 245000, 245350,
       245500, 246578, 248000, 248328, 248900, 249700, 250000, 250580,
       251000, 252000, 252678, 253000, 253293, 254000, 254900, 255000,
       255500, 255900, 256000, 256300, 257000, 257500, 258000, 259000,
       259500, 260000, 260400, 261500, 262000, 262280, 262500, 263000,
       263435, 264132, 264561, 265000, 265900, 265979, 266000, 266500,
       267000, 268000, 269500, 269790, 270000, 271000, 271900, 272000,
       274000, 274300, 274725, 274900, 274970, 275000, 275500, 276000,
       277000, 277500, 278000, 279500, 280000, 281000, 281213, 282922,
       283463, 284000, 285000, 286000, 287000, 287090, 289000, 290000,
       293077, 294000, 295000, 295493, 297000, 299800, 301000, 301500,
       302000, 303477, 305000, 305900, 306000, 307000, 309000, 310000,
       311500, 311872, 312500, 313000, 314813, 315000, 315500, 315750,
       316600, 317000, 318000, 318061, 319000, 319900, 320000, 324000,
       325000, 325300, 325624, 326000, 328000, 328900, 333168, 335000,
       336000, 337000, 337500, 339750, 340000, 341000, 342643, 345000,
       348000, 350000, 354000, 359100, 360000, 361919, 367294, 369900,
       370878, 372402, 372500, 374000, 375000, 377426, 377500, 378500,
       380000, 381000, 383970, 385000, 386250, 392000, 392500, 394432,
       394617, 395000, 395192, 402000, 402861, 403000, 410000, 412500,
       415298, 423000, 424870, 426000, 430000, 437154, 438780, 440000,
       446261, 451950, 465000, 466500, 475000, 485000, 501837, 538000,
       555000, 556581, 582933, 611657, 625000, 745000, 755000])]

[array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
        'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
        'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
        'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
        'Veenker'], dtype=object),
 array([2006, 2007, 2008, 2009, 2010]),
 array([ 34900,  35311,  37900,  39300,  40000,  52000,  52500,  55000,
         55993,  58500,  60000,  61000,  62383,  64500,  66500,  67000,
         68400,  68500,  72500,  73000,  75000,  75500,  76000,  76500,
         78000,  79000,  79500,  79900,  80000,  80500,  81000,  82000,
         82500,  83000,  83500,  84000,  84500,  84900,  85000,  85400,
         85500,  86000,  87000,  87500,  88000,  89000,  89471,  89500,
         90000,  90350,  91000,  91300,  91500,  92000,  92900,  93000,
         93500,  94000,  94500,  94750,  95000,  96500,  97000,  97500,
         98000,  98300,  98600,  99500,  99900, 100000, 101000, 101800,
        102000, 102776, 103000, 103200, 103600, 104000, 104900, 105000,
        105500, 105900, 106000, 106250, 106500, 107000, 107400, 107500,
        107900, 108000, 108480, 108500, 108959, 109000, 109008, 109500,
        109900, 110000, 110500, 111000, 111250, 112000, 112500, 113000,
        114500, 114504, 115000, 116000, 116050, 116500, 116900, 117000,
        117500, 118000, 118400, 118500, 118858, 118964, 119000, 119200,
        119500, 119750, 119900, 120000, 120500, 121000, 121500, 121600,
        122000, 122500, 122900, 123000, 123500, 123600, 124000, 124500,
        124900, 125000, 125500, 126000, 126175, 126500, 127000, 127500,
        128000, 128200, 128500, 128900, 128950, 129000, 129500, 129900,
        130000, 130250, 130500, 131000, 131400, 131500, 132000, 132250,
        132500, 133000, 133500, 133700, 133900, 134000, 134432, 134450,
        134500, 134800, 134900, 135000, 135500, 135750, 135900, 135960,
        136000, 136500, 136900, 136905, 137000, 137450, 137500, 137900,
        138000, 138500, 138800, 138887, 139000, 139400, 139500, 139600,
        139900, 139950, 140000, 140200, 141000, 141500, 142000, 142125,
        142500, 142600, 142953, 143000, 143250, 143500, 143750, 143900,
        144000, 144152, 144500, 144900, 145000, 145250, 145500, 145900,
        146000, 146500, 146800, 147000, 147400, 147500, 148000, 148500,
        148800, 149000, 149300, 149350, 149500, 149700, 149900, 150000,
        150500, 150750, 150900, 151000, 151400, 151500, 152000, 153000,
        153337, 153500, 153575, 153900, 154000, 154300, 154500, 154900,
        155000, 155835, 155900, 156000, 156500, 156932, 157000, 157500,
        157900, 158000, 158500, 158900, 159000, 159434, 159500, 159895,
        159950, 160000, 160200, 161000, 161500, 161750, 162000, 162500,
        162900, 163000, 163500, 163900, 163990, 164000, 164500, 164700,
        164900, 164990, 165000, 165150, 165400, 165500, 165600, 166000,
        167000, 167240, 167500, 167900, 168000, 168500, 169000, 169500,
        169900, 169990, 170000, 171000, 171500, 171750, 171900, 172000,
        172400, 172500, 172785, 173000, 173500, 173733, 173900, 174000,
        174500, 174900, 175000, 175500, 175900, 176000, 176432, 176485,
        176500, 177000, 177500, 178000, 178400, 178740, 178900, 179000,
        179200, 179400, 179500, 179540, 179600, 179665, 179900, 180000,
        180500, 181000, 181134, 181500, 181900, 182000, 182900, 183000,
        183200, 183500, 183900, 184000, 184100, 184750, 184900, 185000,
        185500, 185750, 185850, 185900, 186000, 186500, 186700, 187000,
        187100, 187500, 187750, 188000, 188500, 188700, 189000, 189950,
        190000, 191000, 192000, 192140, 192500, 193000, 193500, 193879,
        194000, 194201, 194500, 194700, 195000, 195400, 196000, 196500,
        197000, 197500, 197900, 198500, 198900, 199900, 200000, 200100,
        200141, 200500, 200624, 201000, 201800, 202500, 202665, 202900,
        203000, 204000, 204750, 204900, 205000, 205950, 206000, 206300,
        206900, 207000, 207500, 208300, 208500, 208900, 209500, 210000,
        211000, 212000, 212900, 213000, 213250, 213490, 213500, 214000,
        214500, 214900, 215000, 215200, 216000, 216500, 216837, 217000,
        217500, 218000, 219210, 219500, 220000, 221000, 221500, 222000,
        222500, 223000, 223500, 224000, 224500, 224900, 225000, 226000,
        226700, 227000, 227680, 227875, 228000, 228500, 228950, 229000,
        229456, 230000, 230500, 231500, 232000, 232600, 233000, 233170,
        233230, 234000, 235000, 235128, 236000, 236500, 237000, 237500,
        238000, 239000, 239500, 239686, 239799, 239900, 240000, 241000,
        241500, 242000, 243000, 244000, 244400, 244600, 245000, 245350,
        245500, 246578, 248000, 248328, 248900, 249700, 250000, 250580,
        251000, 252000, 252678, 253000, 253293, 254000, 254900, 255000,
        255500, 255900, 256000, 256300, 257000, 257500, 258000, 259000,
        259500, 260000, 260400, 261500, 262000, 262280, 262500, 263000,
        263435, 264132, 264561, 265000, 265900, 265979, 266000, 266500,
        267000, 268000, 269500, 269790, 270000, 271000, 271900, 272000,
        274000, 274300, 274725, 274900, 274970, 275000, 275500, 276000,
        277000, 277500, 278000, 279500, 280000, 281000, 281213, 282922,
        283463, 284000, 285000, 286000, 287000, 287090, 289000, 290000,
        293077, 294000, 295000, 295493, 297000, 299800, 301000, 301500,
        302000, 303477, 305000, 305900, 306000, 307000, 309000, 310000,
        311500, 311872, 312500, 313000, 314813, 315000, 315500, 315750,
        316600, 317000, 318000, 318061, 319000, 319900, 320000, 324000,
        325000, 325300, 325624, 326000, 328000, 328900, 333168, 335000,
        336000, 337000, 337500, 339750, 340000, 341000, 342643, 345000,
        348000, 350000, 354000, 359100, 360000, 361919, 367294, 369900,
        370878, 372402, 372500, 374000, 375000, 377426, 377500, 378500,
        380000, 381000, 383970, 385000, 386250, 392000, 392500, 394432,
        394617, 395000, 395192, 402000, 402861, 403000, 410000, 412500,
        415298, 423000, 424870, 426000, 430000, 437154, 438780, 440000,
        446261, 451950, 465000, 466500, 475000, 485000, 501837, 538000,
        555000, 556581, 582933, 611657, 625000, 745000, 755000])]

### Set sparse matrix as true.

In [ ]:
enc = OneHotEncoder(handle_unknown='ignore',sparse=True)
#>>> X = [['Male', 1], ['Female', 3],['Female', 2]]
enc.fit(df)
OneHotEncoder(handle_unknown='ignore')
print(enc.categories_)

[array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
       'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
       'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
       'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
       'Veenker'], dtype=object), array([2006, 2007, 2008, 2009, 2010]), array([ 34900,  35311,  37900,  39300,  40000,  52000,  52500,  55000,
        55993,  58500,  60000,  61000,  62383,  64500,  66500,  67000,
        68400,  68500,  72500,  73000,  75000,  75500,  76000,  76500,
        78000,  79000,  79500,  79900,  80000,  80500,  81000,  82000,
        82500,  83000,  83500,  84000,  84500,  84900,  85000,  85400,
        85500,  86000,  87000,  87500,  88000,  89000,  89471,  89500,
        90000,  90350,  91000,  91300,  91500,  92000,  92900,  93000,
        93500,  94000,  94500,  94750,  95000,  96500,  97000,  97500,
        98000,  98300,  98600,  99500,  99900, 100000, 101000, 101800,
       102000, 102776, 103000, 103200, 103600, 104000, 104900, 105000,
       105500, 105900, 106000, 106250, 106500, 107000, 107400, 107500,
       107900, 108000, 108480, 108500, 108959, 109000, 109008, 109500,
       109900, 110000, 110500, 111000, 111250, 112000, 112500, 113000,
       114500, 114504, 115000, 116000, 116050, 116500, 116900, 117000,
       117500, 118000, 118400, 118500, 118858, 118964, 119000, 119200,
       119500, 119750, 119900, 120000, 120500, 121000, 121500, 121600,
       122000, 122500, 122900, 123000, 123500, 123600, 124000, 124500,
       124900, 125000, 125500, 126000, 126175, 126500, 127000, 127500,
       128000, 128200, 128500, 128900, 128950, 129000, 129500, 129900,
       130000, 130250, 130500, 131000, 131400, 131500, 132000, 132250,
       132500, 133000, 133500, 133700, 133900, 134000, 134432, 134450,
       134500, 134800, 134900, 135000, 135500, 135750, 135900, 135960,
       136000, 136500, 136900, 136905, 137000, 137450, 137500, 137900,
       138000, 138500, 138800, 138887, 139000, 139400, 139500, 139600,
       139900, 139950, 140000, 140200, 141000, 141500, 142000, 142125,
       142500, 142600, 142953, 143000, 143250, 143500, 143750, 143900,
       144000, 144152, 144500, 144900, 145000, 145250, 145500, 145900,
       146000, 146500, 146800, 147000, 147400, 147500, 148000, 148500,
       148800, 149000, 149300, 149350, 149500, 149700, 149900, 150000,
       150500, 150750, 150900, 151000, 151400, 151500, 152000, 153000,
       153337, 153500, 153575, 153900, 154000, 154300, 154500, 154900,
       155000, 155835, 155900, 156000, 156500, 156932, 157000, 157500,
       157900, 158000, 158500, 158900, 159000, 159434, 159500, 159895,
       159950, 160000, 160200, 161000, 161500, 161750, 162000, 162500,
       162900, 163000, 163500, 163900, 163990, 164000, 164500, 164700,
       164900, 164990, 165000, 165150, 165400, 165500, 165600, 166000,
       167000, 167240, 167500, 167900, 168000, 168500, 169000, 169500,
       169900, 169990, 170000, 171000, 171500, 171750, 171900, 172000,
       172400, 172500, 172785, 173000, 173500, 173733, 173900, 174000,
       174500, 174900, 175000, 175500, 175900, 176000, 176432, 176485,
       176500, 177000, 177500, 178000, 178400, 178740, 178900, 179000,
       179200, 179400, 179500, 179540, 179600, 179665, 179900, 180000,
       180500, 181000, 181134, 181500, 181900, 182000, 182900, 183000,
       183200, 183500, 183900, 184000, 184100, 184750, 184900, 185000,
       185500, 185750, 185850, 185900, 186000, 186500, 186700, 187000,
       187100, 187500, 187750, 188000, 188500, 188700, 189000, 189950,
       190000, 191000, 192000, 192140, 192500, 193000, 193500, 193879,
       194000, 194201, 194500, 194700, 195000, 195400, 196000, 196500,
       197000, 197500, 197900, 198500, 198900, 199900, 200000, 200100,
       200141, 200500, 200624, 201000, 201800, 202500, 202665, 202900,
       203000, 204000, 204750, 204900, 205000, 205950, 206000, 206300,
       206900, 207000, 207500, 208300, 208500, 208900, 209500, 210000,
       211000, 212000, 212900, 213000, 213250, 213490, 213500, 214000,
       214500, 214900, 215000, 215200, 216000, 216500, 216837, 217000,
       217500, 218000, 219210, 219500, 220000, 221000, 221500, 222000,
       222500, 223000, 223500, 224000, 224500, 224900, 225000, 226000,
       226700, 227000, 227680, 227875, 228000, 228500, 228950, 229000,
       229456, 230000, 230500, 231500, 232000, 232600, 233000, 233170,
       233230, 234000, 235000, 235128, 236000, 236500, 237000, 237500,
       238000, 239000, 239500, 239686, 239799, 239900, 240000, 241000,
       241500, 242000, 243000, 244000, 244400, 244600, 245000, 245350,
       245500, 246578, 248000, 248328, 248900, 249700, 250000, 250580,
       251000, 252000, 252678, 253000, 253293, 254000, 254900, 255000,
       255500, 255900, 256000, 256300, 257000, 257500, 258000, 259000,
       259500, 260000, 260400, 261500, 262000, 262280, 262500, 263000,
       263435, 264132, 264561, 265000, 265900, 265979, 266000, 266500,
       267000, 268000, 269500, 269790, 270000, 271000, 271900, 272000,
       274000, 274300, 274725, 274900, 274970, 275000, 275500, 276000,
       277000, 277500, 278000, 279500, 280000, 281000, 281213, 282922,
       283463, 284000, 285000, 286000, 287000, 287090, 289000, 290000,
       293077, 294000, 295000, 295493, 297000, 299800, 301000, 301500,
       302000, 303477, 305000, 305900, 306000, 307000, 309000, 310000,
       311500, 311872, 312500, 313000, 314813, 315000, 315500, 315750,
       316600, 317000, 318000, 318061, 319000, 319900, 320000, 324000,
       325000, 325300, 325624, 326000, 328000, 328900, 333168, 335000,
       336000, 337000, 337500, 339750, 340000, 341000, 342643, 345000,
       348000, 350000, 354000, 359100, 360000, 361919, 367294, 369900,
       370878, 372402, 372500, 374000, 375000, 377426, 377500, 378500,
       380000, 381000, 383970, 385000, 386250, 392000, 392500, 394432,
       394617, 395000, 395192, 402000, 402861, 403000, 410000, 412500,
       415298, 423000, 424870, 426000, 430000, 437154, 438780, 440000,
       446261, 451950, 465000, 466500, 475000, 485000, 501837, 538000,
       555000, 556581, 582933, 611657, 625000, 745000, 755000])]

### Setting handle_unknown as Error

In [ ]:
enc = OneHotEncoder(handle_unknown='error',sparse=True)
#>>> X = [['Male', 1], ['Female', 3],['Female', 2]]
enc.fit(df)
OneHotEncoder(handle_unknown='ignore')
print(enc.categories_)

[array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
       'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
       'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
       'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
       'Veenker'], dtype=object), array([2006, 2007, 2008, 2009, 2010]), array([ 34900,  35311,  37900,  39300,  40000,  52000,  52500,  55000,
        55993,  58500,  60000,  61000,  62383,  64500,  66500,  67000,
        68400,  68500,  72500,  73000,  75000,  75500,  76000,  76500,
        78000,  79000,  79500,  79900,  80000,  80500,  81000,  82000,
        82500,  83000,  83500,  84000,  84500,  84900,  85000,  85400,
        85500,  86000,  87000,  87500,  88000,  89000,  89471,  89500,
        90000,  90350,  91000,  91300,  91500,  92000,  92900,  93000,
        93500,  94000,  94500,  94750,  95000,  96500,  97000,  97500,
        98000,  98300,  98600,  99500,  99900, 100000, 101000, 101800,
       102000, 102776, 103000, 103200, 103600, 104000, 104900, 105000,
       105500, 105900, 106000, 106250, 106500, 107000, 107400, 107500,
       107900, 108000, 108480, 108500, 108959, 109000, 109008, 109500,
       109900, 110000, 110500, 111000, 111250, 112000, 112500, 113000,
       114500, 114504, 115000, 116000, 116050, 116500, 116900, 117000,
       117500, 118000, 118400, 118500, 118858, 118964, 119000, 119200,
       119500, 119750, 119900, 120000, 120500, 121000, 121500, 121600,
       122000, 122500, 122900, 123000, 123500, 123600, 124000, 124500,
       124900, 125000, 125500, 126000, 126175, 126500, 127000, 127500,
       128000, 128200, 128500, 128900, 128950, 129000, 129500, 129900,
       130000, 130250, 130500, 131000, 131400, 131500, 132000, 132250,
       132500, 133000, 133500, 133700, 133900, 134000, 134432, 134450,
       134500, 134800, 134900, 135000, 135500, 135750, 135900, 135960,
       136000, 136500, 136900, 136905, 137000, 137450, 137500, 137900,
       138000, 138500, 138800, 138887, 139000, 139400, 139500, 139600,
       139900, 139950, 140000, 140200, 141000, 141500, 142000, 142125,
       142500, 142600, 142953, 143000, 143250, 143500, 143750, 143900,
       144000, 144152, 144500, 144900, 145000, 145250, 145500, 145900,
       146000, 146500, 146800, 147000, 147400, 147500, 148000, 148500,
       148800, 149000, 149300, 149350, 149500, 149700, 149900, 150000,
       150500, 150750, 150900, 151000, 151400, 151500, 152000, 153000,
       153337, 153500, 153575, 153900, 154000, 154300, 154500, 154900,
       155000, 155835, 155900, 156000, 156500, 156932, 157000, 157500,
       157900, 158000, 158500, 158900, 159000, 159434, 159500, 159895,
       159950, 160000, 160200, 161000, 161500, 161750, 162000, 162500,
       162900, 163000, 163500, 163900, 163990, 164000, 164500, 164700,
       164900, 164990, 165000, 165150, 165400, 165500, 165600, 166000,
       167000, 167240, 167500, 167900, 168000, 168500, 169000, 169500,
       169900, 169990, 170000, 171000, 171500, 171750, 171900, 172000,
       172400, 172500, 172785, 173000, 173500, 173733, 173900, 174000,
       174500, 174900, 175000, 175500, 175900, 176000, 176432, 176485,
       176500, 177000, 177500, 178000, 178400, 178740, 178900, 179000,
       179200, 179400, 179500, 179540, 179600, 179665, 179900, 180000,
       180500, 181000, 181134, 181500, 181900, 182000, 182900, 183000,
       183200, 183500, 183900, 184000, 184100, 184750, 184900, 185000,
       185500, 185750, 185850, 185900, 186000, 186500, 186700, 187000,
       187100, 187500, 187750, 188000, 188500, 188700, 189000, 189950,
       190000, 191000, 192000, 192140, 192500, 193000, 193500, 193879,
       194000, 194201, 194500, 194700, 195000, 195400, 196000, 196500,
       197000, 197500, 197900, 198500, 198900, 199900, 200000, 200100,
       200141, 200500, 200624, 201000, 201800, 202500, 202665, 202900,
       203000, 204000, 204750, 204900, 205000, 205950, 206000, 206300,
       206900, 207000, 207500, 208300, 208500, 208900, 209500, 210000,
       211000, 212000, 212900, 213000, 213250, 213490, 213500, 214000,
       214500, 214900, 215000, 215200, 216000, 216500, 216837, 217000,
       217500, 218000, 219210, 219500, 220000, 221000, 221500, 222000,
       222500, 223000, 223500, 224000, 224500, 224900, 225000, 226000,
       226700, 227000, 227680, 227875, 228000, 228500, 228950, 229000,
       229456, 230000, 230500, 231500, 232000, 232600, 233000, 233170,
       233230, 234000, 235000, 235128, 236000, 236500, 237000, 237500,
       238000, 239000, 239500, 239686, 239799, 239900, 240000, 241000,
       241500, 242000, 243000, 244000, 244400, 244600, 245000, 245350,
       245500, 246578, 248000, 248328, 248900, 249700, 250000, 250580,
       251000, 252000, 252678, 253000, 253293, 254000, 254900, 255000,
       255500, 255900, 256000, 256300, 257000, 257500, 258000, 259000,
       259500, 260000, 260400, 261500, 262000, 262280, 262500, 263000,
       263435, 264132, 264561, 265000, 265900, 265979, 266000, 266500,
       267000, 268000, 269500, 269790, 270000, 271000, 271900, 272000,
       274000, 274300, 274725, 274900, 274970, 275000, 275500, 276000,
       277000, 277500, 278000, 279500, 280000, 281000, 281213, 282922,
       283463, 284000, 285000, 286000, 287000, 287090, 289000, 290000,
       293077, 294000, 295000, 295493, 297000, 299800, 301000, 301500,
       302000, 303477, 305000, 305900, 306000, 307000, 309000, 310000,
       311500, 311872, 312500, 313000, 314813, 315000, 315500, 315750,
       316600, 317000, 318000, 318061, 319000, 319900, 320000, 324000,
       325000, 325300, 325624, 326000, 328000, 328900, 333168, 335000,
       336000, 337000, 337500, 339750, 340000, 341000, 342643, 345000,
       348000, 350000, 354000, 359100, 360000, 361919, 367294, 369900,
       370878, 372402, 372500, 374000, 375000, 377426, 377500, 378500,
       380000, 381000, 383970, 385000, 386250, 392000, 392500, 394432,
       394617, 395000, 395192, 402000, 402861, 403000, 410000, 412500,
       415298, 423000, 424870, 426000, 430000, 437154, 438780, 440000,
       446261, 451950, 465000, 466500, 475000, 485000, 501837, 538000,
       555000, 556581, 582933, 611657, 625000, 745000, 755000])]

<font color='red'>Assignment:</font> Built a linear regression model and use X_train to train the model, then use it to predict **SalePrice**. What is the R2 score of this model? Hint: you need to create y_train, X_test, y_test first.

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'Neighborhood' column 
enc_df_test = pd.DataFrame(enc.fit_transform(test_raw[['Neighborhood']]).toarray())

col_to_drop=['Neighborhood']
#merge one-hot encoded columns back with original DataFrame
#X_train= train_raw.drop(columns=col_to_drop).join(enc_df)

df1_test = test_raw.drop(columns=col_to_drop).reset_index()
df2_test= enc_df_test.reset_index()
X_test = pd.concat([df1_test, df2_test], axis=1)


print(test_raw.drop(columns=col_to_drop).shape)
print(enc_df_test.shape)
print(X_test.shape)
print(enc_df_test)

#view final df
#X_test=X_test.drop(['index','index'],axis=1)
print(X_test)

(175, 2)
(175, 23)
(175, 27)
      0    1    2    3    4    5    6    7    8    9   ...   13   14   15  \
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
170  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
171  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
172  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
173  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
174  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

      16   17   18   19   20   21   22
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  1.0  0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
170  1.0  0.0  0.0  0.0  0.0  0.0  0.0
171  0.0  0.0  0.0  0.0  0.0  0.0  0.0
172  0.0  0.0  0.0  0.0  0.0  0.0  0.0
173  0.0  0.0  0.0  0.0  0.0  0.0  0.0
174  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[175 rows x 23 columns]
     index  YrSold  SalePrice  index    0    1    2    3    4    5  ...   13  \
0       16    2010     149000      0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
1       24    2010     154000      1  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
2       26    2010     134800      2  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
3       27    2010     306000      3  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
4       33    2010     165500      4  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
..     ...     ...        ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
170   1438    2010     149700    170  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
171   1446    2010     157900    171  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0
172   1456    2010     210000    172  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0
173   1457    2010     266500    173  0.0  0.0  0.0  0.0  0.0  1.0  ...  0.0
174   1458    2010     142125    174  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0

      14   15   16   17   18   19   20   21   22
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
170  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
171  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
172  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
173  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
174  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[175 rows x 27 columns]

In [15]:
from sklearn.linear_model import LinearRegression

Y_train= X_train['SalePrice']
Y_test=X_test['SalePrice']

#Creating an instance of Linear Regression class , to use the methods of that class.
model = LinearRegression()
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

LinearRegression()

In [22]:

Y_train_pred = model.predict(X_train)
Y_train_pred
print(Y_train_pred)

Y_test_pred = model.predict(X_test)
Y_test_pred
print(Y_test_pred)

#Find the R2 score of the model

from sklearn.metrics import r2_score
print("R2 score for train:",r2_score(Y_train, Y_train_pred))
print("R2 score for test:", r2_score(Y_test, Y_test_pred))

[208500. 181500. 223500. ... 185000. 175000. 147500.]
[2009.99999948 2009.99999946 2009.99999953 2009.99999893 2009.99999942
 2009.99999962 2009.99999888 2009.99999962 2009.99999951 2009.99999937
 2009.99999972 2009.99999949 2009.99999963 2009.99999952 2009.99999971
 2009.99999955 2009.99999928 2009.99999938 2009.99999931 2009.99999934
 2009.99999937 2009.99999888 2009.9999996  2009.99999942 2009.99999922
 2009.99999906 2009.99999911 2009.99999923 2009.99999925 2009.99999951
 2009.99999935 2009.99999944 2009.99999957 2009.99999948 2009.99999955
 2009.99999925 2009.99999935 2009.99999932 2009.99999961 2009.99999908
 2009.99999929 2009.99999974 2009.9999995  2009.99999955 2009.99999899
 2009.9999993  2009.99999951 2009.99999958 2009.99999916 2009.99999929
 2009.99999971 2009.99999963 2009.99999954 2009.99999944 2009.99999957
 2009.99999862 2009.99999956 2009.99999933 2009.99999955 2009.99999923
 2009.9999996  2009.99999951 2009.99999934 2009.99999926 2009.99999899
 2009.99999963 2009.99999905 2009.99999958 2009.99999956 2009.99999926
 2009.99999948 2009.99999974 2009.99999952 2009.99999945 2009.99999947
 2009.9999995  2009.99999946 2009.9999997  2009.99999967 2009.99999951
 2009.99999923 2009.99999952 2009.99999952 2009.99999926 2009.99999981
 2009.99999965 2009.99999955 2009.99999951 2009.99999918 2009.9999991
 2009.99999967 2009.99999945 2009.99999925 2009.99999932 2009.99999813
 2009.99999963 2009.99999952 2009.99999919 2009.99999941 2009.99999981
 2009.99999922 2009.99999947 2009.99999922 2009.99999918 2009.99999956
 2009.99999956 2009.99999955 2009.99999948 2009.99999918 2009.99999931
 2009.99999949 2009.99999787 2009.99999956 2009.99999947 2009.99999915
 2009.99999932 2009.99999947 2009.9999996  2009.99999926 2009.99999966
 2009.99999863 2009.99999929 2009.99999966 2009.99999942 2009.99999971
 2009.9999995  2009.99999926 2009.99999886 2009.99999955 2009.9999995
 2009.99999972 2009.99999956 2009.99999887 2009.99999968 2009.99999973
 2009.9999995  2009.99999915 2009.99999935 2009.99999946 2009.99999935
 2009.99999944 2009.99999962 2009.99999952 2009.9999994  2009.99999942
 2009.99999942 2009.99999916 2009.99999869 2009.9999991  2009.99999977
 2009.99999953 2009.99999942 2009.99999951 2009.99999938 2009.99999947
 2009.99999884 2009.99999885 2009.99999935 2009.99999858 2009.99999949
 2009.99999939 2009.99999926 2009.9999992  2009.99999981 2009.99999957
 2009.99999945 2009.99999957 2009.99999959 2009.99999957 2009.9999996
 2009.99999949 2009.99999946 2009.99999928 2009.99999908 2009.99999952]
R2 score for train: 1.0
R2 score for test: -4.7797063047430415

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

# Combining numerical features and categorical features

In [27]:

df_1 = pd.read_csv('train.csv')

num_features = ['LotFrontage','LotArea','BsmtFinSF1',
        'BsmtFinSF2', 'BsmtUnfSF','TotalBsmtSF','1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea','TotRmsAbvGrd',
        'GarageArea','OpenPorchSF']
cat_features = ['Neighborhood','BldgType']

df_1 = df_1[num_features+cat_features+['YrSold','SalePrice']]
df_1 = df_1.dropna()

train_raw_1 = df_1[df_1.YrSold < 2010]
test_raw_1 = df_1[df_1.YrSold >= 2010]

In [28]:
print(df_1)

      LotFrontage  LotArea  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  \
0            65.0     8450         706           0        150          856
1            80.0     9600         978           0        284         1262
2            68.0    11250         486           0        434          920
3            60.0     9550         216           0        540          756
4            84.0    14260         655           0        490         1145
...           ...      ...         ...         ...        ...          ...
1455         62.0     7917           0           0        953          953
1456         85.0    13175         790         163        589         1542
1457         66.0     9042         275           0        877         1152
1458         68.0     9717          49        1029          0         1078
1459         75.0     9937         830         290        136         1256

      1stFlrSF  2ndFlrSF  LowQualFinSF  GrLivArea  TotRmsAbvGrd  GarageArea  \
0          856       854             0       1710             8         548
1         1262         0             0       1262             6         460
2          920       866             0       1786             6         608
3          961       756             0       1717             7         642
4         1145      1053             0       2198             9         836
...        ...       ...           ...        ...           ...         ...
1455       953       694             0       1647             7         460
1456      2073         0             0       2073             7         500
1457      1188      1152             0       2340             9         252
1458      1078         0             0       1078             5         240
1459      1256         0             0       1256             6         276

      OpenPorchSF Neighborhood BldgType  YrSold  SalePrice
0              61      CollgCr     1Fam    2008     208500
1               0      Veenker     1Fam    2007     181500
2              42      CollgCr     1Fam    2008     223500
3              35      Crawfor     1Fam    2006     140000
4              84      NoRidge     1Fam    2008     250000
...           ...          ...      ...     ...        ...
1455           40      Gilbert     1Fam    2007     175000
1456            0       NWAmes     1Fam    2010     210000
1457           60      Crawfor     1Fam    2010     266500
1458            0        NAmes     1Fam    2010     142125
1459           68      Edwards     1Fam    2008     147500

[1201 rows x 17 columns]

<font color='red'>Assignment:</font> Now it is time to combine both numerical features and categorical features into our model! 

Create a **ColumnTransformer** to transform above num_features and cat_features at the same time. Specifically, apply StandardScaler to num_features and OneHotEncoder to cat_features. Then wrap the ColumnTransformer with LinearRegression to predict **SalepPrice**. 

How does the R2 score look like now?

In [35]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

scaler = StandardScaler()
enc = OneHotEncoder(handle_unknown='ignore')

#Creating a column transformer
trf1 = ColumnTransformer(transformers =[
    ('cat_features', SimpleImputer(strategy ='most_frequent'), cat_features),
    ('num_features', SimpleImputer(strategy ='median'), num_features),
      
], remainder ='passthrough')

first_step=trf1.fit_transform(train_raw_1)
print(first_step)
first_step.shape

[['CollgCr' '1Fam' 65.0 ... 61.0 2008 208500]
 ['Veenker' '1Fam' 80.0 ... 0.0 2007 181500]
 ['CollgCr' '1Fam' 68.0 ... 42.0 2008 223500]
 ...
 ['Somerst' '1Fam' 62.0 ... 113.0 2009 185000]
 ['Gilbert' '1Fam' 62.0 ... 40.0 2007 175000]
 ['Edwards' '1Fam' 75.0 ... 68.0 2008 147500]]

(1058, 17)

In [31]:
pd.DataFrame(first_step).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,CollgCr,1Fam,65.0,8450.0,706.0,0.0,150.0,856.0,856.0,854.0,0.0,1710.0,8.0,548.0,61.0,2008,208500
1,Veenker,1Fam,80.0,9600.0,978.0,0.0,284.0,1262.0,1262.0,0.0,0.0,1262.0,6.0,460.0,0.0,2007,181500
2,CollgCr,1Fam,68.0,11250.0,486.0,0.0,434.0,920.0,920.0,866.0,0.0,1786.0,6.0,608.0,42.0,2008,223500
3,Crawfor,1Fam,60.0,9550.0,216.0,0.0,540.0,756.0,961.0,756.0,0.0,1717.0,7.0,642.0,35.0,2006,140000
4,NoRidge,1Fam,84.0,14260.0,655.0,0.0,490.0,1145.0,1145.0,1053.0,0.0,2198.0,9.0,836.0,84.0,2008,250000

# SimpleImputer

In [38]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import make_column_transformer

df_1 = pd.read_csv('train.csv')

#The numerical columns in the dataset are:
num_features = ['LotFrontage','LotArea','BsmtFinSF1',
        'BsmtFinSF2', 'BsmtUnfSF','TotalBsmtSF','1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea','TotRmsAbvGrd',
        'GarageArea','OpenPorchSF']
#Passing numerical features in the pipeline.
cat_features = ['Neighborhood','BldgType']

#imp= SimpleImputer()

train_raw_1 = df_1[df_1.YrSold < 2010]
test_raw_1 = df_1[df_1.YrSold >= 2010]

scaler = StandardScaler(with_mean = True)
imputer_num = SimpleImputer(strategy = 'median')
imputer_cat = SimpleImputer(strategy='most_frequent', missing_values='nan')
one_hot_encoding = OneHotEncoder()

pipe = Pipeline([('imputer_num', imputer_num),('imputer_cat',imputer_cat),
                 ('scaler', scaler), ('enocder',one_hot_encoding)])

<font color='red'>Assignment:</font> In above, your ColumnTransformer consists of a scaler for numerical columns and a one hot encoder for categorical columns. However, the ColumnTransformer can also consist of pipelines. 

Create a pipleline for numerical columns using **SimpleImputer(strategy='median')** followed by the scaler, and a pipeline for categorical columns using **SimpleImputer(strategy='most_frequent', missing_values='nan')** followed by OneHotEncoder, then use these two pipelines to create the ColumnTransformer, then train the linear regression model.

What are the pros and cons of using this approach compared with the previous approach?